*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #483ac5;
  --secondary-color: #f24405;
  --primary-background: #d3d3d3;
}

body {
  margin: 0;
  font-family: system-ui;
  padding: 2rem;
}
